<!-- Navbar -->
<app-navbar-admin
  (toggleSidebarEvent)="setCollapsed()">
</app-navbar-admin>

<mat-sidenav-container>
     <mat-sidenav opened mode="side" [style.width]="sidebarWidth()">
        <!-- <app-sidebar-admin
        [collapsed]="collapsed()"
        (sidebarClosed)="collapsed()"
        class="h-full border-r border-gray-200 transition-all duration-300 dark:bg-gray-800 dark:border-gray-700"
        [ngClass]="{'w-64': collapsed, 'w-0': !collapsed}"
        id="drawer-navigation"
      >
      </app-sidebar-admin> -->
      <app-sidebar-admin 
        [collapsed]="collapsed()" 
        id="drawer-navigation"
      >
      </app-sidebar-admin>
     </mat-sidenav>

     <mat-sidenav-content [style.margin-left]="sidebarWidth()" class="content">
        <router-outlet></router-outlet>
     </mat-sidenav-content>
</mat-sidenav-container>


<!-- Footer -->
<footer class="main-footer no-print mt-4 flex items-center justify-center">
  <small>
    Elimu Pay Technologies - V2.1.0 | Copyright &copy; 2024 | All rights reserved.
  </small>
</footer>
