<div mat-dialog-title class="bg-pink-950">
    <h1 class="text-white">Pay Fee</h1>
  </div>

  <div class="form-container1" style="padding: 10px;">
    <form [formGroup]="search_student_form" (ngSubmit)="onSearch()">
      <div class="form-container">
        <mat-form-field class="w-full">
          <label for="name">Search by Adm No/ Unique Id</label>
          <input matInput placeholder="" formControlName="search_param" id="search_student_input">
        </mat-form-field>
        <button mat-raised-button type="submit">Search</button>
      </div>
    </form>
    
  </div>

    <div class="form-container" *ngIf="showForm">
      <form [formGroup]="pay_fee_form" (ngSubmit)="onFormSubmit()">
      <div mat-dialog-content>
        <div class="flex flex-row gap-2 ">
        <div class="form-container">
          <mat-form-field class="w-full">
            <label for="name">Name</label>
            <input matInput readonly="readonly"  formControlName="id" style="display: none;">  
            <input matInput readonly="readonly" formControlName="student_name" id="search_student_input">
          </mat-form-field>
        </div>
        <div class="form-container">
          <mat-form-field class="w-full">
            <label for="name">Admission No.</label>
            <input matInput readonly="readonly" placeholder="" formControlName="adm_no" id="search_student_input">
          </mat-form-field>
        </div>
        </div>

          <div class="flex flex-row gap-2 ">
            <mat-form-field class="mt-2.5 w-full">
              <mat-label>Fee Category</mat-label>
              <mat-select formControlName="feecategory">
                <mat-option *ngFor="let category of feeCat" [value]="category.id">
                  {{ category.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="form-container">
              <mat-form-field class="w-full">
                <label for="name">Amount</label>
                <input matInput placeholder="" formControlName="amount">
              </mat-form-field>
            </div>

            
          </div>
          <div class="w-fulll">
            <button mat-raised-button type="submit" style="width: 100%; background-color: #800000; border-radius: 10px; outline: none; height: 50px;"
              >Pay
            </button>
          </div>
      </div>
        </form>
    </div>
 
      
      

    

  